html {
    scroll-behavior: smooth;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    background: transparent;
    padding: 20px 40px;
    z-index: 1000;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.intro__pages__nav__menu{
    display: flex;
    gap:30px;
}

.intro__pages__nav__item{
    text-decoration: none;
}

body{
    margin: 0;
    background-color: #84e1ff;
    color: #032567;
    font-family: Rockwell, Tahoma, sans-serif;
    padding: 100px;
}

.intro__line{
    color: #00267e;
    text-shadow: black 1px 1px;
}

.photo__with__navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;
    gap: 30px;

}

.photo__with__description{
    width: 550px;
}

.navigation__container{
    width: 400px;
    height: 400px;
}

.profile__photo{
    width: 450px;
    height: auto;
    border-radius: 228px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 10);
    transition: transform 0.5s cubic-bezier(0.5, 1.5, 0.5, 1);
}
@media screen and (max-width: 768px){
    .profile__photo{
        transform: scale(0.75);
    }
    .photo__with__navigation{
        justify-content: center;
        align-items: center;
    }
}

.nav__menu{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    height: 30px;
    gap: 10px
}

@media screen and (max-width: 768px) {
    .nav__menu {
        justify-content: center;
        position: initial;
    }
}

.nav__item{
    display: inline-block;
    margin-right: 20px;
    padding: 10px 5px;
    text-align: center;
    border: #9c0000 inset 2px;
    border-radius: 5px;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}


.nav__item:hover{
    background: red;
    transform: scale(1.1);
    box-shadow: 0 0 10px 4px darkred;
}

.nav__item a{
    font-size: 15px;
    text-decoration: none;
    color: #032567;
    font-weight: lighter;
    transition: color 0.3s ease-in-out;
}


.skills__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


@media screen and (max-width: 1200px) {
    .skills__list {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 980px) {
    .skills__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .skills__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: auto;
    width: 100px;
    margin: 20px;
}

.skills__item:nth-child(odd) {
    transform: translate3d(0, 30px, 0);
}

.skills__item:nth-child(even) {
    transform: translate3d(0, -30px, 0);
}

@media screen and (max-width: 768px){
    .skills__item:nth-child(odd) {
        transform: translate3d(0px, 0px, 0);
    }

    .skills__item:nth-child(even) {
        transform: translate3d(0px, 0px, 0);
    }
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding: 20px;
}

.projects__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    background: rgba(0, 68, 156, 0.29);
    border: 1px solid #9c0000;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}

.projects__item::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px){
    .projects__item {
        font-size: 12px
    }

    .project__description {
        font-size: 12px;
    }
}

p{
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
}

.section{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 68, 156, 0.4);
    padding: 10px;
    height: auto;
    border: #9c0000 outset 1px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.ascii-art{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    padding: 10px;
}

.symbol{
    height: auto;
    width: 50px;
}

footer{
    text-align: center;
    padding: 20px;
    height: auto;
}

.pages__nav__item:hover {
    color: #9e0000;
}

.feedback__form {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    margin-bottom: 200px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feedback__form h2 {
    text-align: center;
    color: #032567;
}

.feedback__form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #032567;
}

.feedback__form input,
.feedback__form textarea {
    width: 96%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.feedback__form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #032567;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback__form button:hover {
    background-color: #9e0000;
}

.active {
    font-weight: bold;
    color: #9e0000;
    border-bottom: 2px solid #9e0000;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(122, 119, 119, 0.41);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(44, 44, 44, 0.6);
    border-radius: 4px;
}

::-webkit-scrollbar-button {
    display: none;
}

.daily__info{
    margin: 200px 100px;
}